/* LE TROCQUER Typhaine
RIL option DEVOPS (2019-2021)
FEUILLE DE STYLE - Grid
Projet : HTML5-CSS3-JavaScript 2020 */

/* PETITS +
.maclass
.monid */



  /**********/
 /* PAGE 1 */
/**********/


/* BODY */

html {
    font-size: 100%;
}

body {
    background-color: #2f3032;
    color: grey;
}


/* NAV */



ul {
    /*list-style-type: none;
    overflow: hidden;
    background-color: #2f3032;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    padding: 24px;*/
    margin-top: 10px;
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

li {
    float: center;
    display: inline;
    margin : 50px;
    padding : 10px;
    font-family: 'Raleway', sans-serif;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:inline-block;
}

.link-3 {
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
}
.link-3:hover {
   /* background-color: #ffffff;*/
    color: #EAFFB7;
    padding: 24px 10px;
}
.link-3:active {
    /* background-color: #ffffff;*/
    color: #EAFFB7;
    padding: 24px 10px;
}


/* CONTENT */

.wrapper {
    display: grid;
    grid-gap: 0em;
    grid-template-areas:
            "header header"
            "entreprise template"
            "entreprise main-content"
            "footer footer";
}

    .box {

    }


    .header {
        grid-area: header;
        display : grid;
        grid-gap: 0em;
        grid-template-areas:
                "logo1 titre"
                "primary-nav primary-nav";
    }

        .logo {
            grid-area: logo;
            text-align: right;
        }

        .titre {
            grid-area: titre;
            text-align: left;
        }

        .primary-nav {
            grid-area: primary-nav;
            justify-items: center;
            grid-gap: 1em;
        }

    .template {
        grid-area: template;
    }

    .main-content {
        grid-area: main-content;
        display : grid;
        grid-gap: 1em;
        grid-template-areas:
                "entreprise sites"
                "entreprise sites"
                "entreprise sites"
                "entreprise sites"
                "entreprise wrapper2";
    }

        .sites {
            grid-area : sites;
            display : grid;
            grid-gap: 1em;
            grid-template-areas:
                    "article1 photo1"
                    "photo2 article2"
                    "article3 photo3"
                    "photo4 article4";
        }

            .article1 {
                grid-area: article1;
               /* background-color: antiquewhite;*/
                text-align: justify;
                font-family: 'Ubuntu', sans-serif;
                padding: 4em;
            }

            .photo1 {
                grid-area: photo1;
                background-color: white;
            }

            .article2 {
                grid-area: article2;
                background-color: antiquewhite;
                text-align: justify;
                font-family: 'Ubuntu', sans-serif;
                padding: 4em;
            }

            .photo2 {
                grid-area: photo2;
                background-color: white;

            }
            .article3 {
                grid-area: article3;
                background-color: antiquewhite;
                text-align: justify;
                font-family: 'Ubuntu', sans-serif;
                padding: 4em;
            }

            .photo3 {
                grid-area: photo3;
                background-color: white;
            }

            .article4 {
                grid-area: article4;
                background-color: antiquewhite;
                text-align: justify;
                font-family: 'Ubuntu', sans-serif;
                padding: 4em;
            }

            .photo4 {
                grid-area: photo4;
                background-color: white;
            }

    .entreprise {
        grid-area : entreprise;
        background-color: #EAFFB7;
        /*position : sticky;
        left:0;
        height: 100vh;*/
    }

    .footer {
        grid-area: footer;
        /*background-color: blueviolet; */
    }





/* CSS CODE FOR MOBILE HERE */

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}

















  /**********/
 /* PAGE 2 */
/**********/

/* CONTENT */

.wrapper2 {
    background-color: yellow;
    display: grid;
    /*grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 10fr;*/
    /*grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px [col] 100px [col] 100px [col] 100px [col] 100px;*/
    grid-template-columns : repeat(9,[col] 100px);
    grid-template-rows: [row] auto [row] auto [row] auto;
    grid-gap: 10px;
    justify-content: center;
    /*********************/
    margin: 30px;
    font-family: 'Open Sans', 'sans-serif';
    color: black;
}

.box2{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 90%;
    text-align : center;
}

.orga {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.orga1 {
    grid-column: col  / span 3 ;
    grid-row: row 2 ;
}

.item-1a {
    grid-column: col 2 / span 1 ;
    grid-row: row 3 ;
}

.item-1b {
    grid-column: col 2 / span 1 ;
    grid-row: row 4 ;
}

.item-1c {
    grid-column: col 2 / span 1 ;
    grid-row: row 5 ;
}

.item-1d {
    grid-column: col 2 / span 1 ;
    grid-row: row 6 ;
}

.item-1e {
    grid-column: col 2 / span 1 ;
    grid-row: row 7 ;
}

.orga2 {
    grid-column: col 4 / span 3 ;
    grid-row: row 2 ;
}

.item-2a {
    grid-column: col 5 / span 1 ;
    grid-row: row 3 ;
}

.item-2b {
    grid-column: col 5 / span 1 ;
    grid-row: row 4 ;
}

.item-2c {
    grid-column: col 5 / span 1 ;
    grid-row: row 5 ;
}

.item-2d {
    grid-column: col 5 / span 1 ;
    grid-row: row 6 ;
}

.orga3 {
    grid-column: col 7 / span 3 ;
    grid-row: row 2 ;
}

.item-3a {
    grid-column: col 7 / span 1 ;
    grid-row: row 3 ;
}

.item-3b {
    grid-column: col 7 / span 1 ;
    grid-row: row 4 ;
}

.item-3c {
    grid-column: col 7 / span 1 ;
    grid-row: row 5 ;
}

.item-3d {
    grid-column: col 7 / span 1 ;
    grid-row: row 6 ;
}

.item-3e {
    grid-column: col 7 / span 1 ;
    grid-row: row 7 ;
}

.item-3f {
    grid-column: col 7 / span 1 ;
    grid-row: row 8 ;
}

.item-3g {
    grid-column: col 9 / span 1 ;
    grid-row: row 3 ;
}

.item-3h {
    grid-column: col 9 / span 1 ;
    grid-row: row 4;
}

.item-3i {
    grid-column: col 9 / span 1 ;
    grid-row: row 5 ;
}

.item-3j {
    grid-column: col 9 / span 1 ;
    grid-row: row 6 ;
}

.item-3k {
    grid-column: col 9 / span 1 ;
    grid-row: row 7 ;
}

.item-3l {
    grid-column: col 9 / span 1 ;
    grid-row: row 8 ;
}

.item-3m {
    grid-column: col 9 / span 1 ;
    grid-row: row 9 ;
}