/* LE TROCQUER Typhaine
RIL option DEVOPS (2019-2021)
FEUILLE DE STYLE 
Projet : HTML5-CSS3-JavaScript 2020 */

/* PETITS +
.maclass
.monid */



  /**********/
 /* PAGE 1 */
/**********/

/* BODY */
body {
	background-color: #2f3032;
	color: grey;
}


/* GRID PAGE INDEX */

/*.wrapper {
	max-width: 940px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: 10px;
}*/

/*.header, .footer {
	grid-column: 1 / -1;
}*/


.wrapper {
	display: grid;
	grid-gap: 1em;
	grid-template-areas:
			"header"
			"primary-nav"
			"main-content"
			"footer"
}

	.header {
		grid-area: header;
	}

	.primary-nav {
		grid-area: primary-nav;
	}

	.main-content {
		grid-area: main-content;

		display : grid;
		grid-gap: 1em;
		grid-template-areas:
			"section"
			"article"
	}

		.section {
			grid-area : section;
		}

		.article {
			grid-area : article;
		}

	.footer {
		grid-area: footer;
	}


/* MEDIA QUERIES */
/* WRAPPER */

	@media only screen and (min-width: 600px)  {
		.wrapper {
			grid-gap: 20px;
			grid-template-columns: 120px auto 120px;
			grid-template-areas:
					"header  header  header"
					"primary-nav main-content main-content"
					"primary-nav main-content main-content"
					"footer footer footer";
			max-width: 100%;
		}
	}

	@media only screen and (min-width: 800px)   {
		.wrapper {
			grid-template-columns: 20% auto;
			grid-template-areas:
					"header   header"
					"primary-nav  primary-nav"
					"main-content main-content"
					"footer   footer";
		}
	}


/* MAIN-CONTENT */

@media only screen and (min-width: 600px)  {
	.main-content {
		grid-gap: 20px;
		grid-template-columns: 120px auto 120px;
		grid-template-areas:
			"section article"
			"section article";
		max-width: 100%;
	}
}

@media only screen and (min-width: 800px)   {
	.content {
		grid-template-columns: 20% auto;
		grid-template-areas:
			"section  section section
			"article article article";
	}
}


.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 88%;
}

.header,
.footer {
	background-color: #999;
}


/* HEADER */

/*header {
	position: relative;
	background-color: #57585A;
	color: #ede68a;
	width: auto;
	height: 170px;
	padding-top: 3%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
}*/

	h1 {
		display: inline;
	}


/* NAV */ 

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

	li {
	    float: left;
	}

		li a {
		    display: block;
		    color: black;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}

		li a:hover {
		    background-color: black;
		    color: grey;
		    text-decoration: none;
		}

/* MAIN */


/* SECTION */


/* ARTICLE */

/*.article1 {
	 width : 300px;
	 padding-top: 30px;
	 background : white;
	display : inline-block;
 }
.article2 {
	width : 300px;
	padding-top: 30px;
	background : white;
	display : inline-block;
}
.article3 {
	width : 300px;
	padding-top: 30px;
	background : white;
	display : inline-block;
}*/


/*.article4 {
	background-color: white;
}*/


/* ASIDE */




/* FOOTER */

footer {
	background-color: #ede68a;
	color: #2f3032; 
	margin: 0;
	padding: 0;
	height: 150px;
	text-align: center;
	padding-top: 3%;
}

	footer a {
		color: #2f3032;
		text-decoration: none;
		line-height: 5px;
	}

		footer a:link {
			color: #2f3032;
		}
		footer a:visited {
			color: #2f3032;
			text-decoration: none;
		}
		footer a:hover {
			color: grey;
		}
		footer a:active {
			color: grey;
		}




  /**********/
 /* PAGE 2 */
/**********/

/* GRID PAGE 2 */

.wrapper2 {
	max-width: 700px;
	background-color: yellow;
	display: grid;
	/*grid-template-columns: 1fr 10fr;
	grid-template-rows: 1fr 10fr;*/
	/*grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px [col] 100px [col] 100px [col] 100px [col] 100px;*/
	grid-template-columns : repeat(9,[col] 100px);
	grid-template-rows: [row] auto [row] auto [row] auto;
	grid-gap: 10px;
	/*********************/
	margin: 30px;
	font-family: 'Open Sans', 'sans-serif';
	color: black;
}

.box2{
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 90%;
	text-align : center;
}

/*.wrapper2 {
grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px;
grid-template-rows: [row] auto [row] auto [row] ;
background-color: #fff;
color: #444;
}*/

.orga {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 2;
}

.orga1 {
	grid-column: col  / span 3 ;
	grid-row: row 2 ;
}

.item-1a {
	grid-column: col 2 / span 1 ;
	grid-row: row 3 ;
}

.item-1b {
	grid-column: col 2 / span 1 ;
	grid-row: row 4 ;
}

.item-1c {
	grid-column: col 2 / span 1 ;
	grid-row: row 5 ;
}

.item-1d {
	grid-column: col 2 / span 1 ;
	grid-row: row 6 ;
}

.item-1e {
	grid-column: col 2 / span 1 ;
	grid-row: row 7 ;
}

.orga2 {
	grid-column: col 4 / span 3 ;
	grid-row: row 2 ;
}

.item-2a {
	grid-column: col 5 / span 1 ;
	grid-row: row 3 ;
}

.item-2b {
	grid-column: col 5 / span 1 ;
	grid-row: row 4 ;
}

.item-2c {
	grid-column: col 5 / span 1 ;
	grid-row: row 5 ;
}

.item-2d {
	grid-column: col 5 / span 1 ;
	grid-row: row 6 ;
}

.orga3 {
	grid-column: col 7 / span 3 ;
	grid-row: row 2 ;
}

.item-3a {
	grid-column: col 7 / span 1 ;
	grid-row: row 3 ;
}

.item-3b {
	grid-column: col 7 / span 1 ;
	grid-row: row 4 ;
}

.item-3c {
	grid-column: col 7 / span 1 ;
	grid-row: row 5 ;
}

.item-3d {
	grid-column: col 7 / span 1 ;
	grid-row: row 6 ;
}

.item-3e {
	grid-column: col 7 / span 1 ;
	grid-row: row 7 ;
}

.item-3f {
	grid-column: col 7 / span 1 ;
	grid-row: row 8 ;
}

.item-3g {
	grid-column: col 9 / span 1 ;
	grid-row: row 3 ;
}

.item-3h {
	grid-column: col 9 / span 1 ;
	grid-row: row 4;
}

.item-3i {
	grid-column: col 9 / span 1 ;
	grid-row: row 5 ;
}

.item-3j {
	grid-column: col 9 / span 1 ;
	grid-row: row 6 ;
}

.item-3k {
	grid-column: col 9 / span 1 ;
	grid-row: row 7 ;
}

.item-3l {
	grid-column: col 9 / span 1 ;
	grid-row: row 8 ;
}

.item-3m {
	grid-column: col 9 / span 1 ;
	grid-row: row 9 ;
}