/* LE TROCQUER Typhaine
RIL option DEVOPS (2019-2021)
FEUILLE DE STYLE 
Projet : HTML5-CSS3-JavaScript 2020 */

/* PETITS +
.maclass
.monid */


/* BODY */
body {
	background-color: #2f3032;
	color: grey;
}


/* HEADER */
header {
	position: relative;
	background-color: #57585A;
	color: #ede68a;
	width: auto;
	/*height: 170px;*/
	padding-top: 3%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
}

	h1 {
		display: inline;
	}


/* NAV */ 

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	/*width: 566.7px;*/
	/*float: right;*/
	/*border-radius: 5px 0px 0px 5px;*/
}

	li {
	    float: left;
	}

		li a {
		    display: block;
		    color: black;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}

		li a:hover {
		    background-color: black;
		    color: grey;
		    text-decoration: none;
		}

/* MAIN */


/* SECTION */


/* ARTICLE */

.article1 {
	background-color: white;
}

.article2 {
	background-color: white;
}

.article3 {
	background-color: white;
}

.article4 {
	background-color: white;
}


/* ASIDE */




/* FOOTER */

footer {
	background-color: #ede68a;
	color: #2f3032; 
	margin: 0;
	padding: 0;
	height: 150px;
	text-align: center;
	padding-top: 3%;
}

	footer a {
		color: #2f3032;
		text-decoration: none;
		line-height: 5px;
	}

		footer a:link {
			color: #2f3032;
		}
		footer a:visited {
			color: #2f3032;
			text-decoration: none;
		}
		footer a:hover {
			color: grey;
		}
		footer a:active {
			color: grey;
		}